{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <div class="container my-2">
      {% for message in get_flashed_messages() %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}



      {{wtf.quick_form(form)}}
      <hr>
      {% if session['name'] %}
        名前：<strong>{{session['name']}}</strong> <br>
        条件を同意しますか？<strong>{{session['isAccept']}}</strong><br>
        性別：<strong>{{session['gender']}}</strong><br>
        言語：<strong>{{session['skill']}}</strong><br>
        名前：<strong>{{session['address']}}</strong> <br>
      {% else %}
            見つかりません。
      {% endif %}
    </div>
  <script>
      const btn = document.querySelector('.btn.btn-default');
      btn.classList.remove('btn-default');
      btn.classList.add('btn-success');
      console.log(btn);
  </script>

{% endblock %}